/* reset */

* {
  &:before,
  &:after,
  & {
    box-sizing: inherit;
  }
}

h1,
h2,
h2,
h4,
p {
  margin: 0px;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

body {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

body {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 100%;
  font-family: Roboto, sans-serif;
}
/* ---------------------------------- */

html {
  scroll-padding-top: 150px;
}
main {
  margin: 0 auto;
  padding-top: 100px;
  flex: 1;
  width: 60%;
}
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 100px;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  background-color: #3d4f73;
  opacity: 0.95;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 1.2rem;
  font-weight: 400;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.2rem;
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
}

p {
  line-height: 1.6rem;
}

#about {
  color: white;
  font-weight: 400;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  color: #303b4b;
}



.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: #ebf1f9;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}

.portfolio-item img {
  max-width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
}

.cta {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  padding: 12px 45px;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

.cta:hover {
  opacity: 0.8;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}


footer {
  min-height: 100px;
  width: 100%;
  background-color: #3d4f73;
  opacity: 0.95;
  padding: 40px 0;
  text-align: center;
}

.copyright {
  color: white;
  font-size: 0.8rem;
}



@media (max-width: 950px) {
  .hamburger {
    display: block;
  }
  .bar {
    color: white;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* header {
      padding: 0 30px 0 20px;
    } */

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    align-items: center;
    transition: 0.4s;
    background-color: #3d4a64;
    gap: 0;
    padding: 0 20px;
  }
  .nav-menu-link {
    margin: 50px auto 0px;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 650px)
{
    main{
        width:80%;
    }

    header{
        padding:0 30px;
    }
}

@media (max-width: 450px){
    main{
        width:90%;
    }
}